.custom-reactions-container {
    position: relative;
}
.custom-reactions-container button {
    outline: 0;
    border: 0;
    cursor: pointer;
}

.custom-reactions-container .like-wrapper button {
    padding: 8px 10px;
    transition: all 0.3s;
    background: #f8f8f8;
    display: flex;
    align-items: center;
    gap: 8px;
}

.custom-reactions-container .like-wrapper button:hover {
    background: #f1f1f1;
}

.custom-reactions-container .like-variations {
    background: #fff;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 89%);
    position: absolute;
    top: -20px;
    z-index: 2;
    gap: 9px;
    border-radius: 4px;
    transform: translateY(46px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.custom-reactions-container .like-variations button {
    outline: 0;
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}
.custom-reactions-container .like-variations img {
    margin: 0;
    max-width: 30px;
    height: auto;
    border-radius: 50%;
}

.custom-reactions-container:hover .like-variations {
    opacity: 1;
    visibility: visible;
    transform: translateY(-3px);
}

.custom-reactions-container .like-wrapper button img {
    width: 20px !important;
    margin: 0 !important;
}


.custom-reactions-container .like-variations button span {
    display: none;
    transition: all 0.3s;
    transform: scale(0) translateX(-50%);
    position: absolute;
    top: -13px;
    left: 50%;
    font-size: 9px;
}

.custom-reactions-container .like-variations button:hover {
    transform: scale(1.5);
    transform-origin: center;
}
.custom-reactions-container .like-variations button:hover span {
    display: block;
    transform: scale(1) translateX(-50%);
}

.custom-reactions-container  .button-smile span {
    color: #52a653;
}

.custom-reactions-container .button-sad span {
    color: #ff2907;
}

.custom-reactions-container .button-straight span {
    color: #183153;
}
